html,body,h3,h1{
    margin:0;
    padding:0;
}

nav{
    width:100%;
    height:100px;
}

.logo{
    width:200px;
    height:150px;
    float:left;
}

.supersubs{
    width:100%;
    height:50px;
    background-image: url("");
    background-position: center;
    background-size: cover;
}

.nav-con{
    width:80%;
    height:40px;
    float:left;
    margin:5px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float:left;
    height:30px;
    border-radius:5px;
    font-size:15px;
    color:black;
    background-color: grey;
    margin:6px;
}

.nav-con li:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}

.search-bar{
    height:35px;
    float:right;
    border-radius:60%;
    margin:5px;
}

h2{
    font-size:25px;
}

h3{
    font-size:15px;
}

header{
    width:100%;
    height:600px;
    color:black;
    text-align:left;
    background-image: url("");
    background-size: cover;
    background-position: center;
}

header h2{
    color:black;
}

.col-12{
    width:100%;
    height: 100px;
    background-color: gray;
}

.col-8{
    width:100%;
    height:250px;
    background-color: gray;
    margin:5px;
}
.col-6{
    width: 100%;
    height: 250px;
    background-color: lightgray;
    margin:5px;
}

.col-3{
    width:100%;
    height: 250px;
    background-color: grey;
    margin:5px;
}

.col-2{
    width:100%;
    height:250px;
    background-color: lightgray;
    margin:5px;
}